Paid Users In April 2020

Last Updated: July 2025
Easy
ID 2017 
How many paid users had any calls in Apr 2020?

In [26]:
from pyspark.sql import SparkSession
from pyspark.sql.types import StructField,StructType,StringType,IntegerType,LongType,TimestampType
from pyspark.sql import functions as F

In [27]:
spark = SparkSession.builder.appName("A").getOrCreate()

In [28]:
calls_schema = StructType([
    StructField("user_id", LongType(), False),
    StructField("call_id", LongType(), False),
    StructField("call_date", StringType(), False)
])

In [29]:
calls_data = [
    (1218, 0,  "2020-04-19 01:06:00"),
    (1554, 1,  "2020-03-01 16:51:00"),
    (1857, 2,  "2020-03-29 07:06:00"),
    (1525, 3,  "2020-03-07 02:01:00"),
    (1271, 4,  "2020-04-28 21:39:00"),
    (1181, 5,  "2020-03-18 04:49:00"),
    (1950, 6,  "2020-04-12 23:57:00"),
    (1339, 7,  "2020-04-11 02:15:00"),
    (1910, 8,  "2020-03-21 08:56:00"),
    (1093, 9,  "2020-03-07 15:47:00"),
    (1859, 10, "2020-04-25 13:55:00"),
    (1079, 11, "2020-04-17 16:38:00"),
    (1519, 12, "2020-04-15 12:14:00"),
    (1854, 13, "2020-04-25 19:59:00"),
    (1968, 14, "2020-03-16 21:19:00"),
    (1891, 15, "2020-03-30 23:11:00"),
    (1575, 16, "2020-03-14 15:21:00"),
    (1162, 17, "2020-04-06 18:39:00"),
    (1503, 18, "2020-04-01 18:31:00"),
    (1884, 19, "2020-04-08 08:44:00"),
    (1854, 20, "2020-03-10 10:04:00"),
    (1525, 21, "2020-03-04 14:44:00"),
    (1181, 22, "2020-03-02 17:07:00"),
    (1503, 23, "2020-03-29 11:17:00"),
    (1859, 24, "2020-04-11 14:26:00"),
    (1859, 25, "2020-03-13 23:52:00"),
    (1859, 26, "2020-04-10 00:41:00"),
    (1854, 27, "2020-03-28 00:35:00"),
    (1891, 28, "2020-04-27 22:09:00"),
    (1181, 29, "2020-04-19 06:39:00"),
    (1525, 30, "2020-04-15 22:27:00"),
    (1093, 31, "2020-03-17 15:21:00"),
    (1857, 32, "2020-04-03 02:00:00"),
    (1884, 33, "2020-03-20 14:41:00"),
    (1950, 34, "2020-03-17 11:17:00"),
    (1162, 35, "2020-04-15 03:38:00"),
    (1162, 36, "2020-03-08 06:47:00"),
    (1891, 37, "2020-04-22 01:46:00"),
    (1554, 38, "2020-04-08 05:35:00"),
    (1910, 39, "2020-03-11 08:33:00")
]

In [ ]:
rc_calls = spark.createDataFrame(calls_data, schema=calls_schema)


rc_calls = rc_calls.withColumn("call_date", F.to_timestamp("call_date", "yyyy-MM-dd HH:mm:ss"))
#Spark finds that rc_calls already has a column named call_date.  so overwriting

In [33]:
rc_calls.show()

+-------+-------+-------------------+
|user_id|call_id|          call_date|
+-------+-------+-------------------+
|   1218|      0|2020-04-19 01:06:00|
|   1554|      1|2020-03-01 16:51:00|
|   1857|      2|2020-03-29 07:06:00|
|   1525|      3|2020-03-07 02:01:00|
|   1271|      4|2020-04-28 21:39:00|
|   1181|      5|2020-03-18 04:49:00|
|   1950|      6|2020-04-12 23:57:00|
|   1339|      7|2020-04-11 02:15:00|
|   1910|      8|2020-03-21 08:56:00|
|   1093|      9|2020-03-07 15:47:00|
|   1859|     10|2020-04-25 13:55:00|
|   1079|     11|2020-04-17 16:38:00|
|   1519|     12|2020-04-15 12:14:00|
|   1854|     13|2020-04-25 19:59:00|
|   1968|     14|2020-03-16 21:19:00|
|   1891|     15|2020-03-30 23:11:00|
|   1575|     16|2020-03-14 15:21:00|
|   1162|     17|2020-04-06 18:39:00|
|   1503|     18|2020-04-01 18:31:00|
|   1884|     19|2020-04-08 08:44:00|
+-------+-------+-------------------+
only showing top 20 rows

In [31]:
users_schema = StructType([
    StructField("user_id", LongType(), False),
    StructField("status", StringType(), True),
    StructField("company_id", LongType(), False)
])
 
users_data = [
    (1218, "free", 1),
    (1554, "inactive", 1),
    (1857, "free", 2),
    (1525, "paid", 1),
    (1271, "inactive", 2),
    (1181, "inactive", 2),
    (1950, "free", 1),
    (1339, "free", 2),
    (1910, "free", 2),
    (1093, "paid", 3),
    (1859, "free", 1),
    (1079, "paid", 2),
    (1519, "inactive", 2),
    (1854, "paid", 1),
    (1968, "inactive", 2),
    (1891, "paid", 2),
    (1575, "free", 2),
    (1162, "paid", 2),
    (1503, "inactive", 3),
    (1884, "free", 1)
] 
rc_users = spark.createDataFrame(users_data, schema=users_schema)

In [32]:
rc_users.show()

+-------+--------+----------+
|user_id|  status|company_id|
+-------+--------+----------+
|   1218|    free|         1|
|   1554|inactive|         1|
|   1857|    free|         2|
|   1525|    paid|         1|
|   1271|inactive|         2|
|   1181|inactive|         2|
|   1950|    free|         1|
|   1339|    free|         2|
|   1910|    free|         2|
|   1093|    paid|         3|
|   1859|    free|         1|
|   1079|    paid|         2|
|   1519|inactive|         2|
|   1854|    paid|         1|
|   1968|inactive|         2|
|   1891|    paid|         2|
|   1575|    free|         2|
|   1162|    paid|         2|
|   1503|inactive|         3|
|   1884|    free|         1|
+-------+--------+----------+

In [34]:
rc_calls.show()

+-------+-------+-------------------+
|user_id|call_id|          call_date|
+-------+-------+-------------------+
|   1218|      0|2020-04-19 01:06:00|
|   1554|      1|2020-03-01 16:51:00|
|   1857|      2|2020-03-29 07:06:00|
|   1525|      3|2020-03-07 02:01:00|
|   1271|      4|2020-04-28 21:39:00|
|   1181|      5|2020-03-18 04:49:00|
|   1950|      6|2020-04-12 23:57:00|
|   1339|      7|2020-04-11 02:15:00|
|   1910|      8|2020-03-21 08:56:00|
|   1093|      9|2020-03-07 15:47:00|
|   1859|     10|2020-04-25 13:55:00|
|   1079|     11|2020-04-17 16:38:00|
|   1519|     12|2020-04-15 12:14:00|
|   1854|     13|2020-04-25 19:59:00|
|   1968|     14|2020-03-16 21:19:00|
|   1891|     15|2020-03-30 23:11:00|
|   1575|     16|2020-03-14 15:21:00|
|   1162|     17|2020-04-06 18:39:00|
|   1503|     18|2020-04-01 18:31:00|
|   1884|     19|2020-04-08 08:44:00|
+-------+-------+-------------------+
only showing top 20 rows

In [35]:
# # 

# How many paid users had any calls in Apr 2020?

In [38]:
rc_join = rc_calls.alias('c').join( rc_users.alias('u'), F.col('c.user_id') == F.col('u.user_id') , "inner").where(F.col('u.status') == 'paid').where(F.col("c.call_date").between("2020-04-01", "2020-04-30")) 
rc_join.show(truncate= False)

+-------+-------+-------------------+-------+------+----------+
|user_id|call_id|call_date          |user_id|status|company_id|
+-------+-------+-------------------+-------+------+----------+
|1079   |11     |2020-04-17 16:38:00|1079   |paid  |2         |
|1162   |17     |2020-04-06 18:39:00|1162   |paid  |2         |
|1162   |35     |2020-04-15 03:38:00|1162   |paid  |2         |
|1525   |30     |2020-04-15 22:27:00|1525   |paid  |1         |
|1854   |13     |2020-04-25 19:59:00|1854   |paid  |1         |
|1891   |28     |2020-04-27 22:09:00|1891   |paid  |2         |
|1891   |37     |2020-04-22 01:46:00|1891   |paid  |2         |
+-------+-------+-------------------+-------+------+----------+

# output

In [42]:
paid_users_apr_count = rc_join.select('c.user_id').distinct().count()
print(paid_users_apr_count)

5

In [43]:

paid_users_apr_count = rc_join .select("c.user_id").distinct().agg(F.count("*").alias("paid_users_count"))  # aggregate count)

paid_users_apr_count.show()

+----------------+
|paid_users_count|
+----------------+
|               5|
+----------------+